* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 1080px;
}

.not-found,
.attribution,
h1,
img,
.error-message,
button {
    position: absolute;
}

h1,
.error-message,
button {
    font-family: "Space Mono";
    letter-spacing: -0.035em;

}

.not-found {
    top: 40px;
    left: 77px;
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}

h1 {
    top: 265px;
    left: 735px;
    font-weight: 700;
    font-size: 64px;
    width: 586px;
    height: 190px;
    line-height: 94.78px;
}

img {
    width: 539.22px;
    height: 414.25px;
    top: 265px;
    left: 77px;
}

.error-message {
    top: 491px;
    left: 736px;

    width: 381px;
    height: 108px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35.54px;
}

button {
    top: 663px;
    left: 740px;

    width: 216px;
    height: 68px;

    background: #333333;

    font-size: 14px;
    font-weight: 700;
    color: white;
}

.attribution {
    top: 1039px;
    left: 577px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: #bdbdbd;
    text-align: center;
}

a {
    font-weight: 700;
    color: #bdbdbd;
}

@media screen and (max-width: 375px) {
    body {
        width: 375px;
        height: 949px;
    }

    .not-found {
        position: absolute;
        top: 20px;
        left: 24px;
    }

    img {
        width: 286.83px;
        height: 238px;
        top: 109px;
        left: 44px;
    }

    h1 {
        top: 407px;
        left: 24px;
        font-size: 48px;
        width: 350px;
        height: 142px;
        line-height: 71.09px;
    }

    .error-message {
        top: 579px;
        left: 23px;

        width: 328px;
        height: 81px;
        font-size: 18px;
    }

    button {
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
    }

    .attribution {
        width: 287px;
        height: 17px;
        left: 46px;
        top: 908px;
        font-size: 12px;
        text-align: center;
    }
}